<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="style.css">
	<title>ÖAW - REPO FILE CHECKER REPORT</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="jquery.dataTables.css">	
	<script type="text/javascript" language="javascript" src="jquery.js"></script>
	<script type="text/javascript" language="javascript" src="jquery.dataTables.js"></script>	
	<script type="text/javascript" language="javascript" class="init">
		$(document).ready(function() {
			$('#filesDT').DataTable();
                        $('#dirsDT').DataTable();
                        $('#errorsDT').DataTable();                        
		} );
	</script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue">
    	<div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="fileList.html">                        
                        <p>File List</p>
                    </a>
                </li>
                <li>
                    <a href="directoryList.html">
                        <p>Directory List</p>
                    </a>
                </li>
                <li>
                    <a href="errorList.html">                        
                        <p>Errors</p>
                    </a>
                </li>
		<li>
                    <a href="fileTypeList.html">
                        <p>File Type List</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
      
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">					
                        {html_file_content}
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


</body>
</html>
