<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="css/style.css">
	<title>ÖAW - REPO FILE CHECKER REPORT</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">	
	<script type="text/javascript" language="javascript" src="js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="js/jstree.min.js"></script>
	<script type="text/javascript" language="javascript" src="js/jquery.dataTables.js"></script>	
        <link rel="stylesheet" href="css/jstreecss.css" />
	<script type="text/javascript" language="javascript" class="init">
		$(document).ready(function() {
			$('#dirsDT').DataTable( {
                        "ajax": "directoryList.json",
                        "dataSrc": "data",
                        "deferRender": true,
                        "columns": [
                            { "data": "name" },
                            { "data": "valid" }
                        ]
                    } );

                    $('#filesDT').DataTable( {
                        "ajax": "fileList.json",
                        "dataSrc": "data",
                        "deferRender": true,
                        "columns": [
                            { "data": "filename" },
                            { "data": "directory" },
                            { "data": "extension" },
                            { "data": "type" },
                            { "data": "size" },
                            { "data": "valid_file" }
                        ]
                    } );
                    $('#errorsDT').DataTable( {
                        "ajax": "error.json",
                        "dataSrc": "data",
                        "deferRender": true,
                        "columns": [
                            { "data": "errorType" },
                            { "data": "dir" },
                            { "data": "filename" }
                        ]
                    } );
                    
                    var to = false;
                    $('#directories_q').keyup(function () {
                        if(to) { clearTimeout(to); }
                        to = setTimeout(function () {
                                var v = $('#directories_q').val();
                                $('#data').jstree(true).search(v);
                        }, 250);
                    });
                    
                    $('#data').jstree({
                        'core' : {
                            'data': {
                                "url" : "directories.json",  // the URL to fetch the data. Use relative url if required
                                "dataType": "json"
                            },
                        },
                        "plugins" : [
                            "contextmenu", "dnd", "search"
                        ]
                    });
                    
                    var toExt = false;
                    $('#extensions_q').keyup(function () {
                        if(toExt) { clearTimeout(toExt); }
                        toExt = setTimeout(function () {
                                var v = $('#extensions_q').val();
                                $('#ext_data').jstree(true).search(v);
                        }, 250);
                    });
                    
                    $('#ext_data').jstree({
                        'core' : {
                            'data': {
                                "url" : "extensions.json",  // the URL to fetch the data. Use relative url if required
                                "dataType": "json"
                            },
                        },
                        "plugins" : [
                            "contextmenu", "dnd", "search"
                        ]
                    });

		} );
	</script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue">
    	<div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="fileList.html">                        
                        <p>File List</p>
                    </a>
                </li>
                 <li>
                    <a href="fileTypeList.html">
                        <p>File Type List</p>
                    </a>
                </li>
                <li>
                    <a href="directoryList.html">
                        <p>Directory List</p>
                    </a>
                </li>
                <li>
                    <a href="errorList.html">                        
                        <p>Errors</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
      
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">					
                        {html_file_content}
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


</body>
</html>
