<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuite name="tests">
    <directory>tests</directory>
  </testsuite>
  <extensions>
    <bootstrap class="\acdhOeaw\arche\fileChecker\tests\Bootstrap"/>
  </extensions>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
